<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div
    class="container w-12 h-screen flex align-items-center justify-content-center"
  >
    <div class="form w-4 h-30rem flex flex-column align-items-center gap-6">
      <h1 class="">Login</h1>
      <p-floatLabel class="w-6">
        <input
          type="text"
          class="h-3rem w-12"
          pInputText
          id="email"
          formControlName="email"
        />
        <label for="email">Email</label>
        @if (!userForm.controls['email'].valid &&
        userForm.controls['email'].dirty ) {

        <span class="p-error block relative text-xs">
          @if(userForm.get('email')?.errors?.['required']){
          <span class="absolute">Email is required!</span>
          } @if (userForm.get('email')?.errors?.['pattern']) {
          <span class="absolute"> Write email currectly! </span>
          }
        </span>
        }
      </p-floatLabel>

      <p-floatLabel class="w-6">
        <input
          type="password"
          class="h-3rem w-12"
          pInputText
          id="loginPassword"
          formControlName="loginPassword"
        />

        <label for="loginPassword">Password</label>
        @if (userForm.get('loginPassword')?.errors &&
        (userForm.get('loginPassword')?.dirty ||
        userForm.get('loginPassword')?.touched)) {

        <span class="p-error block absolute text-xs">
          @if(userForm.get('loginPassword')?.errors?.['required']){
          <span>Password is required!</span>
          } @if (userForm.get('loginPassword')?.errors?.['pattern']) {
          <span>
            the password must be 6 letter's at least with capital letter and
            number
          </span>
          }
        </span>
        }
      </p-floatLabel>
      <button pButton type="submit" label="Login" class="w-4 h-2rem"></button>
      <a routerLink="/registration" class="no-underline">
        <label>Don't have account ? click here</label>
      </a>
      <span>{{ errorMsg }}</span>
    </div>
  </div>
</form>
