<div
  class="container w-12 h-screen flex align-items-center justify-content-evenly"
>
  <div
    class="box w-15rem h-10rem bg-blue-400 flex align-items-center justify-content-center"
  >
    <a
      routerLink="/login"
      class="w-12 capitalize no-underline h-full text-black-alpha-90 text-3xl flex align-items-center justify-content-center"
      >login students</a
    >
  </div>
  <div
    class="box w-15rem h-10rem bg-blue-400 flex align-items-center justify-content-center"
  >
    <a
      routerLink="/login-for-company"
      class="w-12 capitalize no-underline h-full text-black-alpha-90 text-3xl flex align-items-center justify-content-center"
      >login companies</a
    >
  </div>
</div>